@import 'vars';

%topTextStyle {
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

summary {
    display: block;
}

summary::-webkit-detals-marker {
    display: none;
}

.fa {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #e4af48;
}

.center {
    padding-left: calc(50% - $standartWidth / 2);
    padding-right: calc(50% - $standartWidth / 2);
}

.top {
    background-color: #fff;
    padding-top: 32px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
        width: 50%;
        display: flex;
        align-items: center;

        &__link {
            width: 200px;
            display: flex;
            align-items: center;

            &__subtitle {
                padding: 12px 0 12px 12px;
                font-size: 27px;
                line-height: 32px;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: #3e3e40;
            }

            &__special {
                font-weight: 900;
                color: $standartColor;
            }
        }
    }

    &__dropdown {
        position: relative;
        display: flex;



        &__details {
            box-sizing: border-box;
            position: relative;
            z-index: 10;



            &__summary {
                display: flex;
                align-items: center;
                gap: 5px;
                border: 1px solid #e6e6e6;
                background-color: #cdcdcc;
                border-radius: 3px 0px 0px 3px;
                background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
                padding: 5px 8px 5px 16px;
            }

            &[open] {
                background: #fff;
            }

            &:hover .top__dropdown__details__summary {
                border: 1px solid $standartColor;
            }

            &__content {
                top: 38px;
                background-color: #fff;
                width: 162px;
                padding: 0px 16px 8px 16px;
                position: absolute;
                z-index: 1;

                &__block {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    padding: 8px 8px;
                }
            }

            &[open] .top__dropdown__details__content::before {
                content: '';
                display: block;
                height: 10px;
                width: 10px;
                background-color: #fff;
                position: absolute;
                top: -5px;
                left: 71px;
                transform: rotate(45deg);
                border-top: 1px solid #e8e8e8e8;
                border-left: 1px solid #e8e8e8e8;
            }
        }

        &__heading {
            font-size: 14px;
            @extend %topTextStyle
        }

        &__bigtxt {
            font-size: 14px;
            line-height: 32px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #232323;
            border-bottom: 1px solid #e8e8e8;
        }

        &__smalltxt {
            font-size: 14px;
            line-height: 28px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #4e4e4e;
        }

        &__smalltxt:hover {
            color: $standartColor;
        }
    }


    &__search__inp {
        font-size: 14px;
        line-height: 32px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: #a4a4a4;
        padding: 5px 32px 5px 8px;
        border: 1px solid #e6e6e6;
    }

    &__search__but {
        padding: 12px;
        border: 1px solid #e6e6e6;
    }

    &__right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 5%;

        &__dropdown {
            position: relative;
            display: flex;


            &__details {
                box-sizing: border-box;
                position: relative;
                z-index: 10;



                &__summary {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    border: 1px solid $standartColor;
                    color: $standartColor;
                    background-color: #fff;
                    padding: 13px 20px;
                }

                &[open] .top__right__dropdown__details__summary {
                    border: 1px solid #ececec;
                    background-color: $standartColor;
                }

                &:hover .top__right__dropdown__details__summary {
                    border: 1px solid #ececec;
                    background-color: $standartColor;
                }

                &:hover .top__right__dropdown__header {
                    color: #FFF;
                }

                &:hover .top__right__dropdown__svg {
                    fill: #FFF;
                }

            }

            &__menu {
                width: 262px;
                top: 62px;
                left: -85px;
                background-color: #fff;
                padding: 10px 15px 10px 20px;
                position: absolute;
                z-index: 1;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 1px solid #ececec;
            }


            &__link1 {
                width: 100%;
                display: block;
            }



            &__block {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 10px 10px 20px 5px;
                transition: all 0.3s;
                border-bottom: 1px solid rgba(237, 237, 237, 0.74);
                ;
            }

            &__block:hover {
                border: 1px solid $standartColor;
                box-shadow: #222222;
            }

            // &__link:hover {
            //     border: 1px solid $standartColor;
            //     box-shadow: #222222;
            // }


            &__miniblock {
                width: 120px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                &__heading {
                    font-size: 12px;
                    line-height: 1.2;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #222222;
                }

                &__txt {
                    font-size: 12px;
                    line-height: 1.2;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: $standartColor;
                }
            }

            &__price {
                padding: 20px 0px;
                display: flex;
                width: 100%;

                &__left {
                    width: 50%;
                }

                &__right {
                    text-align: end;
                    width: 50%;
                }

                &__paragraf {
                    font-size: 16px;
                    line-height: 1.2;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #222222;
                }
            }

            &__link2 {
                display: block;
                width: 250px;
                text-align: center;
                padding: 20px 0px;
                border: 1px solid $standartColor;
                color: $standartColor;
                font-size: 14px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
                transition: all 0.3s;
                background-color: #fff;
                margin-bottom: 10px;
            }

            &__link2:hover {
                border: 1px solid #eaeaea;
                background-color: $standartColor;
                color: #fff;
            }

        }


    }
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__list {
        display: inline-block;
        position: relative;
    }
}

.nav {
    padding-left: calc(50% - $standartWidth / 3.5);
    padding-right: calc(50% - $standartWidth / 3.5);
    padding-top: 10px;
    padding-bottom: 10px;

    &__conteiner {
        display: flex;
        align-items: center;

        &__link {
            font-size: 14px;
            line-height: 26px;
            font-weight: 700;
            text-transform: uppercase;
            color: #222222;
            display: block;
            padding: 0 15px;
        }

        &__link:hover {
            border-bottom: 2px solid $standartColor;
        }
    }
}

.navigation {

    padding-top: 65px;
    padding-bottom: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f3f4;

    &__txt {
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: $standartColor;
    }
}

.breadcrumbs {

    &__ul {
        list-style-type: none;
        display: flex;
    }

    &__li:not(:last-child)::after {
        content: '/';
        padding-left: 8px;
        padding-right: 8px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }

    &__link {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }


    &__link:hover {
        color: $standartColor;
    }
}

.katalog {
    margin-bottom: 65px;

    &_conteiner {
        display: flex;
        justify-content: space-between;
    }


    &__left {
        width: 25%;
        padding-top: 59px;
    }

    &__right {
        width: 74%;
        padding-top: 59px;
    }

}

.filter {
    padding-top: 13px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    background-color: #fff;
    padding: 0px 16px 16px 16px;


    &__heading {
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $standartColor;
        display: flex;
        justify-content: space-between;

        &__down {
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: #6f6e6e;
        }

        &__svg {
            fill: #6f6e6e;
        }
    }

    &__item {
        margin-bottom: 20px;
    }


    &__item[open] .filter__heading__down {
        color: $standartColor;
    }

    &__item[open] .filter__heading__svg {
        fill: $standartColor;
        transform: rotate(180.0deg);
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 33px;
        color: #6f6e6e;

        &:hover {
            color: $standartColor;
        }
    }
}

.first-line {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;

    &__item {
        width: 33%;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: #6f6e6e;
    }

    &__block1 {
        padding: 25px 80px 25px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        &__link {
            display: block;
            font-size: 14px;
            line-height: 26px;
            font-weight: 400;
            color: #6f6e6e;
            border-right: 1px solid #dfdfdf;
            padding-right: 10px;
        }

        &__link:hover {
            color: $standartColor;
            border-right: 1px solid $standartColor;
        }
    }

    &__block2 {
        padding: 25px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        &__chb {
            padding-right: 20px;
        }
    }



    &__checkbox {
        border: 1px solid #ebebeb;
        width: 13px;
        height: 13px;
        margin-right: 5px;
    }

    &__label {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        text-transform: uppercase;
        color: #6f6e6e;
    }

    &__block3 {
        padding: 25px 0;
    }

    &__slidecontainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__slider {
            -webkit-appearance: none;
            width: 100%;
            height: 8px;
            border-radius: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        &__slider:hover {
            opacity: 1;
        }

        &__slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background: $standartColor;
            cursor: pointer;
        }

        &__slider::-moz-range-thumb {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background: $standartColor;
            cursor: pointer;
        }

        &__bottom {
            display: flex;
            justify-content: space-between;
        }

        &__txt {
            font-size: 14px;
            line-height: 26px;
            font-weight: 400;
            color: #6f6e6e;
        }
    }


}

.second-line {
    background-color: #f3f3f3;
    padding: 10px 0 10px 5px;
    display: flex;

    &__details {
        margin-left: 10px;
        position: relative;
        z-index: 10;
    }

    &__summary {
        display: flex;

        &__block {
            padding: 0.2rem 0.7rem;
            border: 1px solid #ebebeb;
            background-color: #ffffff;

            &__name {
                font-size: 14px;
                line-height: 26px;
                font-weight: 400;
                color: #6f6e6e;
                margin-right: 10px;
            }
        }

    }

    &__content {
        position: absolute;
        background-color: #fff;
        border: 1px solid #000;
        top: 40px;
        left: 80px;
        min-height: 100px;
        min-width: 100px;
    }
}

.third-line {

    margin-top: 48px;

    &__up {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__down {
        padding: 45px 0;
        display: flex;
        justify-content: space-between;

        &__link {

            padding: 0.3rem 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $standartColor;
            border-radius: 5px;
            transition: all 0.3s;
            background-color: #fff;

            &__txt {
                font-size: 16px;
                line-height: 26px;
                font-weight: 700;
                color: $standartColor;
                margin-right: 10px;
            }

            &__svg {
                width: 15px;
                height: 15px;
                fill: #f16d7f;
            }
        }

        &__link:hover {
            background: $standartColor;
            border: 1px solid #ecececec;
        }

        &__link:hover .third-line__down__link__txt {
            color: #FFF;
        }

        &__link:hover .third-line__down__link__svg {
            fill: #ffffff;
        }

    }


}

.miditem {
    display: flex;
    background-color: #FFF;
    width: ($standartWidth*.74 - $gapKatalog*2)/3;
    position: relative;
    margin-bottom: 40px;

    &__container {
        display: flex;
        flex-direction: column;

        &__link {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-bottom: 20px;
        }

        &__img {
            width: 100%;
        }

        &__title {
            padding-left: 15px;
            font-size: 13px;
            line-height: 1.2;
            font-weight: 400;
            text-transform: uppercase;
            color: #222222;
        }

        &__txt {
            padding-left: 15px;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #f16d7f;
        }


    }

    &__basket {
        width: 100%;
        position: absolute;
        top: 98px;
        display: none;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        pointer-events: none;
        gap: 5px;

        &__link {
            display: flex;
            padding: 12px 8px 3px 8px;
            border: 1px solid #fff;
            border-radius: 5px;
            align-items: flex-start;
            pointer-events: all;
            grid-column: span 2;
        }


        &__txt {
            font-size: 13px;
            line-height: 1.2;
            font-weight: 700;
            color: #ffffff;
            margin-left: 8px;
        }

        &__link:hover {
            box-shadow: 0px 0px 10px 0px #fff;
        }

        &__link2 {
            display: flex;
            padding: 8px;
            border: 1px solid #fff;
            border-radius: 5px;
            align-items: center;
            justify-content: center;
            pointer-events: all;
        }

        &__link2:hover {
            box-shadow: 0px 0px 10px 0px #fff;
        }
    }


}



.miditem:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.miditem:hover .miditem__container_img {
    filter: brightness(30%);
}

.miditem:hover .miditem__basket {
    display: grid;
}

.pagination {
    list-style-type: none;
    display: flex;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

.page-item {
    padding: 6px;
}

.page-link {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #c4c4c4;
}

.page-link:hover {
    color: $standartColor;
}

.page-link:hover .fa-angle-left {
    color: $standartColor;
}

.page-link:hover .fa-angle-right {
    color: $standartColor;
}


.fa-angle-left,
.fa-angle-right {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #aaaaaa;
}


.banner {
    background-color: #222224;


    &__right {
        padding-top: 90px;
        padding-bottom: 115px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__item {
            width: 26%;
        }
    }

}

.advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gapKatalog;

    &__figcaption {
        &__heading {
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #fbfbfb;
            text-align: center;
        }

        &__text {
            font-size: 14px;
            line-height: 23px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: #fbfbfb;
            text-align: center;
        }
    }
}



.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 97px;
    padding-bottom: 156px;
    background-image: url("../Image/Subscribe.svg");
    filter: rgba(242, 242, 242, 0.5);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;

    &__item {
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        color: #222224;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 30px;
    }

    &__head {
        color: #222224;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 167.2%;
    }

    &__heading {
        color: #222224;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 167.2%;
        margin-bottom: 32px;
    }

    &__email {
        padding: 15px 55px 15px 22px;
        border-radius: 25px 0px 0px 25px;
        border: none;
        background-color: #E1E1E1;
        color: #222224;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__button {
        padding: 15px 20px 15px 20px;
        border-radius: 0px 25px 25px 0px;
        border: none;
        background-color: #E05C6E;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: -5px;
    }

}

.postscript {
    padding-top: 123px;
    padding-bottom: 89px;
    display: flex;

    &__left {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: $gapKatalog;
        padding-right: 5%;

        &__link {
            width: 200px;
            display: flex;
            align-items: center;

            &__subtitle {
                padding: 12px 0 12px 12px;
                font-size: 27px;
                line-height: 32px;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: #3e3e40;
            }

            &__special {
                font-weight: 900;
                color: $standartColor;
            }
        }

        &__txt {
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: #898989;
        }
    }

    &__right {
        width: 60%;
        display: flex;
        justify-content: space-between;

        &__box {
            width: 30%;

            &__title {
                padding-top: 15px;
                padding-bottom: 32px;
                font-size: 18px;
                line-height: 26px;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: $standartColor;
            }
        }
    }

    &__list {
        list-style-type: none;

        &__item {
            &__link {
                display: block;
                font-size: 16px;
                line-height: 42px;
                font-weight: 400;
                letter-spacing: 0.025em;
                color: #898989;
            }

            &__link:hover {
                color: $standartColor;
            }
        }
    }
}

.footer {
    background-color: #e6e6e6;
    padding-top: 24px;
    padding-bottom: 23px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    &__text {
        color: #7a7a7a;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__social {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        padding-left: 0;
    }

    &__item {
        margin: 0 5px;
    }

    &__item a {
        display: flex;
        width: 32px;
        height: 32px;
        color: #000;
        background: #FFF;
        align-items: center;
        justify-content: center;
    }


    &__item a:hover {
        background: #F16D7F;
        color: #fff;
    }
}