@import 'vars';

// стандартные стили

%topTextStyle {
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
}

%registrationTextStyleVar1 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}



* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

summary {
    display: block;
}

summary::-webkit-detals-marker {
    display: none;
}

.fa {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #e4af48;
}

.fa-angle-left,
.fa-angle-right {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.fa-angle-down {
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    color: #bcbcbc;
}

.fa-square {
    color: red;
}

.center {
    padding-left: calc(50% - $standartWidth / 2);
    padding-right: calc(50% - $standartWidth / 2);
}

.top {
    background-color: #fff;
    padding-top: 32px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
        width: 50%;
        display: flex;
        align-items: center;

        &__link {
            width: 200px;
            display: flex;
            align-items: center;

            &__subtitle {
                padding: 12px 0 12px 12px;
                font-size: 27px;
                line-height: 32px;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: #3e3e40;
            }

            &__special {
                font-weight: 900;
                color: $standartColor;
            }
        }
    }

    &__dropdown {
        position: relative;
        display: flex;



        &__details {
            box-sizing: border-box;
            position: relative;
            z-index: 10;



            &__summary {
                display: flex;
                align-items: center;
                gap: 5px;
                border: 1px solid #e6e6e6;
                background-color: #cdcdcc;
                border-radius: 3px 0px 0px 3px;
                background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
                padding: 5px 8px 5px 16px;
            }

            &[open] {
                background: #fff;
            }

            &:hover .top__dropdown__details__summary {
                border: 1px solid $standartColor;
            }

            &__content {
                top: 38px;
                background-color: #fff;
                width: 162px;
                padding: 0px 16px 8px 16px;
                position: absolute;
                z-index: 1;

                &__block {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    padding: 8px 8px;
                }
            }

            &[open] .top__dropdown__details__content::before {
                content: '';
                display: block;
                height: 10px;
                width: 10px;
                background-color: #fff;
                position: absolute;
                top: -5px;
                left: 71px;
                transform: rotate(45deg);
                border-top: 1px solid #e8e8e8e8;
                border-left: 1px solid #e8e8e8e8;
            }
        }

        &__heading {
            font-size: 14px;
            @extend %topTextStyle
        }

        &__bigtxt {
            font-size: 14px;
            line-height: 32px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #232323;
            border-bottom: 1px solid #e8e8e8;
        }

        &__smalltxt {
            font-size: 14px;
            line-height: 28px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #4e4e4e;
        }

        &__smalltxt:hover {
            color: $standartColor;
        }
    }

    &__search {
        display: flex;

        &__inp {
            font-size: 14px;
            line-height: 32px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: #a4a4a4;
            padding: 5px 32px 5px 8px;
            border: 1px solid #e6e6e6;
        }

        &__but {
            padding: 12px;
            border: 1px solid #e6e6e6;
        }
    }





    &__right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 5%;

        &__dropdown {
            position: relative;
            display: flex;


            &__details {
                box-sizing: border-box;
                position: relative;
                z-index: 10;



                &__summary {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    border: 1px solid $standartColor;
                    color: $standartColor;
                    background-color: #fff;
                    padding: 13px 20px;
                }

                &[open] .top__right__dropdown__details__summary {
                    border: 1px solid #ececec;
                    background-color: $standartColor;
                }

                &:hover .top__right__dropdown__details__summary {
                    border: 1px solid #ececec;
                    background-color: $standartColor;
                }

                &:hover .top__right__dropdown__header {
                    color: #FFF;
                }

                &:hover .top__right__dropdown__svg {
                    fill: #FFF;
                }

            }

            &__menu {
                width: 262px;
                top: 62px;
                left: -85px;
                background-color: #fff;
                padding: 10px 15px 10px 20px;
                position: absolute;
                z-index: 1;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 1px solid #ececec;
            }


            &__link1 {
                width: 100%;
                display: block;
            }



            &__block {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 10px 10px 20px 5px;
                transition: all 0.3s;
                border-bottom: 1px solid rgba(237, 237, 237, 0.74);
                ;
            }

            &__block:hover {
                border: 1px solid $standartColor;
                box-shadow: #222222;
            }


            &__miniblock {
                width: 120px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                &__heading {
                    font-size: 12px;
                    line-height: 1.2;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #222222;
                }

                &__txt {
                    font-size: 12px;
                    line-height: 1.2;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: $standartColor;
                }
            }

            &__price {
                padding: 20px 0px;
                display: flex;
                width: 100%;

                &__left {
                    width: 50%;
                }

                &__right {
                    text-align: end;
                    width: 50%;
                }

                &__paragraf {
                    font-size: 16px;
                    line-height: 1.2;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #222222;
                }
            }

            &__link2 {
                display: block;
                width: 250px;
                text-align: center;
                padding: 20px 0px;
                border: 1px solid $standartColor;
                color: $standartColor;
                font-size: 14px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
                transition: all 0.3s;
                background-color: #fff;
                margin-bottom: 10px;
            }

            &__link2:hover {
                border: 1px solid #eaeaea;
                background-color: $standartColor;
                color: #fff;
            }

        }


    }
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__list {
        display: inline-block;
        position: relative;
    }
}

.nav {
    padding-left: calc(50% - $standartWidth / 3.5);
    padding-right: calc(50% - $standartWidth / 3.5);
    padding-top: 10px;
    padding-bottom: 10px;

    &__conteiner {
        display: flex;
        align-items: center;

        &__link {
            font-size: 14px;
            line-height: 26px;
            font-weight: 700;
            text-transform: uppercase;
            color: #222222;
            display: block;
            padding: 0 15px;
        }

        &__link:hover {
            border-bottom: 2px solid $standartColor;
        }
    }
}

.navigation {

    padding-top: 65px;
    padding-bottom: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f3f4;

    &__txt {
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: $standartColor;
    }
}

.breadcrumbs {

    &__ul {
        list-style-type: none;
        display: flex;
    }

    &__li:not(:last-child)::after {
        content: '/';
        padding-left: 8px;
        padding-right: 8px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }

    &__link {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }


    &__link:hover {
        color: $standartColor;
    }
}


.gallery {
    background-color: #f7f7f7;
    min-height: 777px;
    display: flex;

    &__left,
    &__right {
        width: 3%;
        display: flex;
        align-items: center;
    }

    &__link {
        background-color: rgba(42, 42, 42, 0.14);
        padding: 16px;
        transition: all 0.3s;
    }

    &__link:hover {
        border: 1px solid rgba(42, 42, 42, 0.14);
        background-color: #fff;
    }

    &__link:hover .fa-angle-right {
        color: rgba(42, 42, 42, 0.14);
    }

    &__link:hover .fa-angle-left {
        color: rgba(42, 42, 42, 0.14);
    }

    &__middle {
        width: 94%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.regstration-form {
    background-color: #ffffff;
}

.registration {
    justify-content: center;
    display: flex;
    border: 1px solid #eaeaea;
    margin-left: calc(50% - $standartWidth / 2);
    margin-right: calc(50% - $standartWidth / 2);
    transform: translateY(-40px);
    margin-bottom: 79px;
    background-color: #fff;

    &__container {
        width: 642px;
        display: flex;
        padding-top: 73px;
        padding-bottom: 122px;
        align-items: center;
        flex-direction: column;
    }

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #eaeaea;
        margin-bottom: 63px;

        &__subtitle {
            text-align: center;
            @extend %registrationTextStyleVar1;
            color: $standartColor;
            border-bottom: 1px solid $standartColor;
        }

        &__title {
            text-align: center;
            font-size: 18px;
            line-height: 24px;
            font-weight: 900;
            text-transform: uppercase;
            color: #4d4d4d;
            padding-top: 17px;
        }

        &__txt {
            text-align: center;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            color: #5e5e5e;
            padding-top: 67px;
        }

        &__txt1 {
            text-align: center;
            @extend %registrationTextStyleVar1;
            color: #b9b9b9;
            padding-top: 28px;
        }

        &__price {
            text-align: center;
            font-size: 24px;
            line-height: 24px;
            font-weight: 700;
            color: $standartColor;
            padding: 37px 0;
        }
    }

    &__special {
        color: #2f2f2f;
    }

    &__bottom {
        width: 100%;
    }

    &__form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 28px;

        &__block4 {
            grid-column: span 3;
        }

        &__title {
            @extend %registrationTextStyleVar1;
            color: #2f2f2f;
            padding-bottom: 16px;
        }

        &__input {
            border: 1px solid #eaeaea;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: #bcbcbc;
            width: 100%;
            padding: 11px;
            box-sizing: border-box;
        }

        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $standartColor;
            background-color: #ffffff;
            width: 100%;
            padding: 1rem 0;
            transition: all 0.3s;
        }

        &__button:hover {
            border: 1px solid #ffffff;
            background-color: $standartColor;
        }

        &__linktxt {
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            color: $standartColor;
            margin-left: 10px;
        }

        &__button:hover .registration__form__linktxt {
            color: #ffffff;
        }

        &__button:hover .registration__form__bin {
            fill: #ffffff;
        }
    }

    &__dropdown {
        border: 1px solid #eaeaea;
        position: relative;
        display: flex;
        z-index: 10;
        box-sizing: border-box;

        &__summary {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 11px;
        }

        &__txt {
            font-size: 13px;
            line-height: 24px;
            font-weight: 400;
            color: #bcbcbc;
        }

        &__arrow {
            font-size: 14px;
            line-height: 23px;
            font-weight: 400;
            color: #bcbcbc;
        }

        &__content {
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 1;
            gap: 11px;
            width: 100%;
            border: 1px solid #eaeaea;
            background-color: #fff;
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        &:hover {
            border: 1px solid $standartColor;
        }

        &:hover .fa-angle-down {
            color: $standartColor;
        }

        &[open] {
            border: 1px solid $standartColor;
        }

        &[open] .fa-angle-down {
            color: $standartColor;
        }
    }
}


.katalog {

    &__top {
        display: flex;
        align-items: center;
        padding-bottom: 77px;
        justify-content: center;

        &__title {
            text-align: center;
            font-size: 24px;
            line-height: 20px;
            font-weight: 900;
            text-transform: uppercase;
            color: #4d4d4d;
        }

    }

    &__middle {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.miditem {
    display: flex;
    background-color: #FFF;
    width: ($standartWidth - $gapKatalog*3)/4;
    position: relative;
    margin-bottom: 40px;

    &__container {
        display: flex;
        flex-direction: column;

        &__link {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-bottom: 20px;
        }

        &__img {
            width: 100%;
        }

        &__title {
            padding-left: 15px;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 400;
            text-transform: uppercase;
            color: #6f6e6e;
        }

        &__txt {
            padding-left: 15px;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #f16d7f;
        }


    }

    &__basket {
        width: 100%;
        position: absolute;
        top: 98px;
        display: none;
        justify-content: center;
        pointer-events: none;

        &__link {
            display: flex;
            padding: 8px;
            border: 1px solid #fff;
            align-items: center;
            pointer-events: all;
        }


        &__txt {
            font-size: 13px;
            line-height: 1.2;
            font-weight: 700;
            color: #ffffff;
            margin-left: 8px;
        }

        &__link:hover {
            box-shadow: 0px 0px 10px 0px #fff;
        }
    }


}



.miditem:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.miditem:hover .miditem__container_img {
    filter: brightness(30%);
}

.miditem:hover .miditem__basket {
    display: flex;
}






.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 97px;
    padding-bottom: 156px;
    background-image: url("../Image/Subscribe.svg");
    filter: rgba(242, 242, 242, 0.5);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;

    &__item {
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        color: #222224;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 30px;
    }

    &__head {
        color: #222224;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 167.2%;
    }

    &__heading {
        color: #222224;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 167.2%;
        margin-bottom: 32px;
    }

    &__email {
        padding: 15px 55px 15px 22px;
        border-radius: 25px 0px 0px 25px;
        border: none;
        background-color: #E1E1E1;
        color: #222224;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__button {
        padding: 15px 20px 15px 20px;
        border-radius: 0px 25px 25px 0px;
        border: none;
        background-color: #E05C6E;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: -5px;
    }

}

.postscript {
    padding-top: 123px;
    padding-bottom: 89px;
    display: flex;

    &__left {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: $gapKatalog;
        padding-right: 5%;

        &__link {
            width: 200px;
            display: flex;
            align-items: center;

            &__subtitle {
                padding: 12px 0 12px 12px;
                font-size: 27px;
                line-height: 32px;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: #3e3e40;
            }

            &__special {
                font-weight: 900;
                color: $standartColor;
            }
        }

        &__txt {
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: #898989;
        }
    }

    &__right {
        width: 60%;
        display: flex;
        justify-content: space-between;

        &__box {
            width: 30%;

            &__title {
                padding-top: 15px;
                padding-bottom: 32px;
                font-size: 18px;
                line-height: 26px;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: $standartColor;
            }
        }
    }

    &__list {
        list-style-type: none;

        &__item {
            &__link {
                display: block;
                font-size: 16px;
                line-height: 42px;
                font-weight: 400;
                letter-spacing: 0.025em;
                color: #898989;
            }

            &__link:hover {
                color: $standartColor;
            }
        }
    }
}

.footer {
    background-color: #e6e6e6;
    padding-top: 24px;
    padding-bottom: 23px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    &__text {
        color: #7a7a7a;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__social {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        padding-left: 0;
    }

    &__item {
        margin: 0 5px;
    }

    &__item a {
        display: flex;
        width: 32px;
        height: 32px;
        color: #000;
        background: #FFF;
        align-items: center;
        justify-content: center;
    }


    &__item a:hover {
        background: #F16D7F;
        color: #fff;
    }
}