.top__dropdown__heading {
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
}

.registration__form__title, .registration__top__txt1, .registration__top__subtitle {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-detals-marker {
  display: none;
}

.fa {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #e4af48;
}

.fa-angle-left,
.fa-angle-right {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.fa-angle-down {
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  color: #bcbcbc;
}

.fa-square {
  color: red;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.top {
  background-color: #fff;
  padding-top: 32px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top__left {
  width: 50%;
  display: flex;
  align-items: center;
}
.top__left__link {
  width: 200px;
  display: flex;
  align-items: center;
}
.top__left__link__subtitle {
  padding: 12px 0 12px 12px;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #3e3e40;
}
.top__left__link__special {
  font-weight: 900;
  color: #f16d7f;
}
.top__dropdown {
  position: relative;
  display: flex;
}
.top__dropdown__details {
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.top__dropdown__details__summary {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  border-radius: 3px 0px 0px 3px;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  padding: 5px 8px 5px 16px;
}
.top__dropdown__details[open] {
  background: #fff;
}
.top__dropdown__details:hover .top__dropdown__details__summary {
  border: 1px solid #f16d7f;
}
.top__dropdown__details__content {
  top: 38px;
  background-color: #fff;
  width: 162px;
  padding: 0px 16px 8px 16px;
  position: absolute;
  z-index: 1;
}
.top__dropdown__details__content__block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 8px 8px;
}
.top__dropdown__details[open] .top__dropdown__details__content::before {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  background-color: #fff;
  position: absolute;
  top: -5px;
  left: 71px;
  transform: rotate(45deg);
  border-top: 1px solid rgba(232, 232, 232, 0.9098039216);
  border-left: 1px solid rgba(232, 232, 232, 0.9098039216);
}
.top__dropdown__heading {
  font-size: 14px;
}
.top__dropdown__bigtxt {
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  border-bottom: 1px solid #e8e8e8;
}
.top__dropdown__smalltxt {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4e4e4e;
}
.top__dropdown__smalltxt:hover {
  color: #f16d7f;
}
.top__search {
  display: flex;
}
.top__search__inp {
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
  padding: 5px 32px 5px 8px;
  border: 1px solid #e6e6e6;
}
.top__search__but {
  padding: 12px;
  border: 1px solid #e6e6e6;
}
.top__right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5%;
}
.top__right__dropdown {
  position: relative;
  display: flex;
}
.top__right__dropdown__details {
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.top__right__dropdown__details__summary {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #f16d7f;
  color: #f16d7f;
  background-color: #fff;
  padding: 13px 20px;
}
.top__right__dropdown__details[open] .top__right__dropdown__details__summary {
  border: 1px solid #ececec;
  background-color: #f16d7f;
}
.top__right__dropdown__details:hover .top__right__dropdown__details__summary {
  border: 1px solid #ececec;
  background-color: #f16d7f;
}
.top__right__dropdown__details:hover .top__right__dropdown__header {
  color: #FFF;
}
.top__right__dropdown__details:hover .top__right__dropdown__svg {
  fill: #FFF;
}
.top__right__dropdown__menu {
  width: 262px;
  top: 62px;
  left: -85px;
  background-color: #fff;
  padding: 10px 15px 10px 20px;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ececec;
}
.top__right__dropdown__link1 {
  width: 100%;
  display: block;
}
.top__right__dropdown__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 20px 5px;
  transition: all 0.3s;
  border-bottom: 1px solid rgba(237, 237, 237, 0.74);
}
.top__right__dropdown__block:hover {
  border: 1px solid #f16d7f;
  box-shadow: #222222;
}
.top__right__dropdown__miniblock {
  width: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.top__right__dropdown__miniblock__heading {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.top__right__dropdown__miniblock__txt {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #f16d7f;
}
.top__right__dropdown__price {
  padding: 20px 0px;
  display: flex;
  width: 100%;
}
.top__right__dropdown__price__left {
  width: 50%;
}
.top__right__dropdown__price__right {
  text-align: end;
  width: 50%;
}
.top__right__dropdown__price__paragraf {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.top__right__dropdown__link2 {
  display: block;
  width: 250px;
  text-align: center;
  padding: 20px 0px;
  border: 1px solid #f16d7f;
  color: #f16d7f;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
  background-color: #fff;
  margin-bottom: 10px;
}
.top__right__dropdown__link2:hover {
  border: 1px solid #eaeaea;
  background-color: #f16d7f;
  color: #fff;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu__list {
  display: inline-block;
  position: relative;
}

.nav {
  padding-left: calc(50% - 325.7142857143px);
  padding-right: calc(50% - 325.7142857143px);
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav__conteiner {
  display: flex;
  align-items: center;
}
.nav__conteiner__link {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  display: block;
  padding: 0 15px;
}
.nav__conteiner__link:hover {
  border-bottom: 2px solid #f16d7f;
}

.navigation {
  padding-top: 65px;
  padding-bottom: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f3f4;
}
.navigation__txt {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}

.breadcrumbs__ul {
  list-style-type: none;
  display: flex;
}
.breadcrumbs__li:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__link:hover {
  color: #f16d7f;
}

.gallery {
  background-color: #f7f7f7;
  min-height: 777px;
  display: flex;
}
.gallery__left, .gallery__right {
  width: 3%;
  display: flex;
  align-items: center;
}
.gallery__link {
  background-color: rgba(42, 42, 42, 0.14);
  padding: 16px;
  transition: all 0.3s;
}
.gallery__link:hover {
  border: 1px solid rgba(42, 42, 42, 0.14);
  background-color: #fff;
}
.gallery__link:hover .fa-angle-right {
  color: rgba(42, 42, 42, 0.14);
}
.gallery__link:hover .fa-angle-left {
  color: rgba(42, 42, 42, 0.14);
}
.gallery__middle {
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.regstration-form {
  background-color: #ffffff;
}

.registration {
  justify-content: center;
  display: flex;
  border: 1px solid #eaeaea;
  margin-left: calc(50% - 570px);
  margin-right: calc(50% - 570px);
  transform: translateY(-40px);
  margin-bottom: 79px;
  background-color: #fff;
}
.registration__container {
  width: 642px;
  display: flex;
  padding-top: 73px;
  padding-bottom: 122px;
  align-items: center;
  flex-direction: column;
}
.registration__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 63px;
}
.registration__top__subtitle {
  text-align: center;
  color: #f16d7f;
  border-bottom: 1px solid #f16d7f;
}
.registration__top__title {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  padding-top: 17px;
}
.registration__top__txt {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #5e5e5e;
  padding-top: 67px;
}
.registration__top__txt1 {
  text-align: center;
  color: #b9b9b9;
  padding-top: 28px;
}
.registration__top__price {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #f16d7f;
  padding: 37px 0;
}
.registration__special {
  color: #2f2f2f;
}
.registration__bottom {
  width: 100%;
}
.registration__form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
.registration__form__block4 {
  grid-column: span 3;
}
.registration__form__title {
  color: #2f2f2f;
  padding-bottom: 16px;
}
.registration__form__input {
  border: 1px solid #eaeaea;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  width: 100%;
  padding: 11px;
  box-sizing: border-box;
}
.registration__form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f16d7f;
  background-color: #ffffff;
  width: 100%;
  padding: 1rem 0;
  transition: all 0.3s;
}
.registration__form__button:hover {
  border: 1px solid #ffffff;
  background-color: #f16d7f;
}
.registration__form__linktxt {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #f16d7f;
  margin-left: 10px;
}
.registration__form__button:hover .registration__form__linktxt {
  color: #ffffff;
}
.registration__form__button:hover .registration__form__bin {
  fill: #ffffff;
}
.registration__dropdown {
  border: 1px solid #eaeaea;
  position: relative;
  display: flex;
  z-index: 10;
  box-sizing: border-box;
}
.registration__dropdown__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px;
}
.registration__dropdown__txt {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
}
.registration__dropdown__arrow {
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  color: #bcbcbc;
}
.registration__dropdown__content {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  gap: 11px;
  width: 100%;
  border: 1px solid #eaeaea;
  background-color: #fff;
}
.registration__dropdown__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.registration__dropdown:hover {
  border: 1px solid #f16d7f;
}
.registration__dropdown:hover .fa-angle-down {
  color: #f16d7f;
}
.registration__dropdown[open] {
  border: 1px solid #f16d7f;
}
.registration__dropdown[open] .fa-angle-down {
  color: #f16d7f;
}

.katalog__top {
  display: flex;
  align-items: center;
  padding-bottom: 77px;
  justify-content: center;
}
.katalog__top__title {
  text-align: center;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
}
.katalog__middle {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.miditem {
  display: flex;
  background-color: #FFF;
  width: 262.5px;
  position: relative;
  margin-bottom: 40px;
}
.miditem__container {
  display: flex;
  flex-direction: column;
}
.miditem__container__link {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}
.miditem__container__img {
  width: 100%;
}
.miditem__container__title {
  padding-left: 15px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e;
}
.miditem__container__txt {
  padding-left: 15px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}
.miditem__basket {
  width: 100%;
  position: absolute;
  top: 98px;
  display: none;
  justify-content: center;
  pointer-events: none;
}
.miditem__basket__link {
  display: flex;
  padding: 8px;
  border: 1px solid #fff;
  align-items: center;
  pointer-events: all;
}
.miditem__basket__txt {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  margin-left: 8px;
}
.miditem__basket__link:hover {
  box-shadow: 0px 0px 10px 0px #fff;
}

.miditem:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.miditem:hover .miditem__container_img {
  filter: brightness(30%);
}

.miditem:hover .miditem__basket {
  display: flex;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 97px;
  padding-bottom: 156px;
  background-image: url("../Image/Subscribe.svg");
  filter: rgba(242, 242, 242, 0.5);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
.subscribe__item {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__text {
  color: #222224;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}
.subscribe__head {
  color: #222224;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}
.subscribe__heading {
  color: #222224;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
  margin-bottom: 32px;
}
.subscribe__email {
  padding: 15px 55px 15px 22px;
  border-radius: 25px 0px 0px 25px;
  border: none;
  background-color: #E1E1E1;
  color: #222224;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.subscribe__button {
  padding: 15px 20px 15px 20px;
  border-radius: 0px 25px 25px 0px;
  border: none;
  background-color: #E05C6E;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: -5px;
}

.postscript {
  padding-top: 123px;
  padding-bottom: 89px;
  display: flex;
}
.postscript__left {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 5%;
}
.postscript__left__link {
  width: 200px;
  display: flex;
  align-items: center;
}
.postscript__left__link__subtitle {
  padding: 12px 0 12px 12px;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #3e3e40;
}
.postscript__left__link__special {
  font-weight: 900;
  color: #f16d7f;
}
.postscript__left__txt {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}
.postscript__right {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.postscript__right__box {
  width: 30%;
}
.postscript__right__box__title {
  padding-top: 15px;
  padding-bottom: 32px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}
.postscript__list {
  list-style-type: none;
}
.postscript__list__item__link {
  display: block;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
}
.postscript__list__item__link:hover {
  color: #f16d7f;
}

.footer {
  background-color: #e6e6e6;
  padding-top: 24px;
  padding-bottom: 23px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.footer__text {
  color: #7a7a7a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__social {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.footer__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
}
.footer__item {
  margin: 0 5px;
}
.footer__item a {
  display: flex;
  width: 32px;
  height: 32px;
  color: #000;
  background: #FFF;
  align-items: center;
  justify-content: center;
}
.footer__item a:hover {
  background: #F16D7F;
  color: #fff;
}/*# sourceMappingURL=stylesingle.css.map */